

#themaindiv{
    display: flex;}
#divider1{
    background-color: rgb(202, 27, 27);
    padding: 40px;
    width: 250%;
    
    
}
h3{
    color: aliceblue;
    height: 100%;
}
#divider2{
    background-color: rgb(21, 63, 100);
    padding: 50;
    
}


body {
  color:rgb(253, 252, 252);
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
#htags {
  
  color: rgb(0, 0, 0);
  background-color: rgb(43, 122, 122);
  padding-top:50px;
  padding-right: 50px;
  width: 50%;
  height: 5%;
  
  text-align: left;
}
#panda {
  width: 200px;
  height: 200px;
  padding-left: 40px;
  background-color: black;
  
}
#hilighter {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
}
#tablediv1{
    text-align:left;
    color: black;
    background-color: aliceblue;
    height: 100%;
    padding-top: 50px;
    padding-bottom:20px;
    padding-right:530px ;
 }
